In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Tables ##

In [5]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [3]:
cones.show(3)

In [ ]:
cones.show()

In [8]:
flavor_table = cones.select('Flavor')

In [9]:
cones.show()
flavor_table.show()

In [10]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [ ]:
# The line below causes an error because Flavor is not a name.
# cones.select(Flavor, 'Price')

In [11]:
cones.drop('Price')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [12]:
cones.show()

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [13]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [ ]:
cones.sort('Price')

In [14]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [15]:
cones.sort('Flavor', descending=True)

Flavor     | Color       | Price
strawberry | pink        | 3.55
strawberry | pink        | 5.25
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

### A more interesting table

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
point_guards = nba.where('position', 'PG').where('season', 2020)

In [ ]:
point_guards

In [ ]:
point_guards.drop('position')

In [ ]:
point_guards

In [ ]:
point_guards = point_guards.drop('rank', 'position', 'season')

In [ ]:
point_guards.show(10)

In [ ]:
point_guards.sort('salary').show(10)

In [ ]:
point_guards.sort('salary', descending=True).show(10)

In [ ]:
# The line below will cause a value error
nba.drop('position').where('position', 'PG')