In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

ModuleNotFoundError: No module named 'datascience'

## Tables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
# The line below causes an error because Flavor is not a name.
# cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
point_guards = nba.where('position', 'PG').where('season', 2020)

In [ ]:
point_guards

In [ ]:
point_guards.drop('position')

In [ ]:
point_guards

In [ ]:
point_guards = point_guards.drop('rank', 'position', 'season')

In [ ]:
point_guards.show(10)

In [ ]:
point_guards.sort('salary').show(10)

In [ ]:
point_guards.sort('salary', descending=True).show(10)

In [ ]:
# The line below will cause a value error
nba.drop('position').where('position', 'PG')